// VALUABLES
@use "./_valuables.sass" as var

// STYLING FOR EXPLORE PAGE
.explore
	&__soon
		list-style-type: none
		margin: 25px 25px 0 25px

		&-item
			margin-bottom: 40px

			& a
				text-decoration: none

			&-name
				text-align: center
				color: var.$text-color

			&-image
				border-radius: var.$box-radius

	&__top, &__rec
		margin: 25px 25px 0 25px

		&-button
			cursor: pointer
			font-size: 14px
			font-weight: normal
			color: var.$description-color

		&-item
			width: 166px

			& a
				text-decoration: none

			&-name
				height: 25px
				margin: 5px 0
				overflow: hidden
				white-space: nowrap
				color: var.$text-color
				text-overflow: ellipsis

			&-stars
				gap: 5px
				display: flex

				& .full-star,& .half-star,& .nothing-star
					width: 18px
					height: 18px
					color: var.$star-icon-color

			&-image
				width: auto
				height: 250px
				border-radius: var.$box-radius

		&-title
			display: flex
			font-size: 20px
			align-items: center
			justify-content: space-between

		&-list
			gap: 30px
			width: 100%
			display: flex
			margin-top: 10px
			flex-wrap: nowrap
			scrollbar-width: none
			list-style-type: none
			overflow: scroll hidden

			&.active
				overflow: unset
				flex-wrap: wrap
				justify-content: space-evenly

				& li
					width: 130px
					display: flex
					align-items: center
					flex-direction: column
					justify-content: space-between

					& div
						width: 100%

					& p
						width: 100%
						height: unset
						white-space: unset
						text-overflow: unset

					& img
						width: 130px
						height: auto

	&__button
		width: 45%
		height: 100%
		border: none
		cursor: pointer
		font-size: 14px
		border-radius: 6px
		background: transparent
		color: rgba(var.$text-color, 0.5)
		transition: background 0.3s linear, color 0.3s linear

		&:hover, &:focus, &.active
			color: var.$text-color
			background: var.$icon-hover-color

		&s
			gap: 20px
			height: 65px
			display: flex
			margin: 0 25px
			padding: 10px
			align-items: center
			justify-content: space-between
			border-radius: var.$box-radius
			background: var.$box-background-color
	&__rec

		&-list
			gap: 15px

			&.active

				& li
					justify-content: unset

		&-item
			width: 130px

			&-name
				height: unset
				white-space: unset
				text-overflow: unset

			&-image
				width: 130px
				height: auto
