// VALUABLES
@use "./_valuables.sass" as var

// STYLING FOR HEADER COMPONENT
.search-form
	gap: 10px
	height: 50px
	display: flex
	margin-top: 25px
	overflow: hidden
	align-items: center
	justify-content: center
	border-radius: var.$box-radius
	background: var.$box-background-color
	transition: height 0.3s linear, margin-top 0.3s linear

	&.hidden
		height: 0px
		margin-top: 0px

	&__button
		height: 25px
		border: none
		cursor: pointer
		background: transparent
		color: var.$description-color
		transition: color 0.3s linear

		&-icon
			width: 25px

	&__input
		width: 200px
		height: 100%
		cursor: pointer
		font-size: 14px
		color: var.$description-color
		transition: color 0.3s linear

	&:focus, &:hover

		& button, & input
			color: var.$text-color

.top-content
	padding: 25px
	min-height: 70px

	&__wrapper
		width: 100%
		display: flex
		align-items: center
		justify-content: space-between

	&__page

		&-last
			height: 25px
			color: var.$text-color

		&-name
			font-size: 20px
			font-weight: bold

		&-icon
			height: 25px
			cursor: pointer
			width: fit-content

	&__profile

		&-link
			height: 100%

		&-message
			font-size: 14px
			color: var.$second-text-color

		&-user
			font-size: 18px
			font-weight: 500
