// VALUABLES
@use "./_valuables.sass" as var

// STYLING FOR HOME PAGE
.home-content

	&__soon
		margin: 25px 25px 0 25px

		&-item

			&-release
				font-size: 14px
				color: var.$second-text-color

			&-name
				font-size: 20px
				font-weight: bold
				color: var.$text-color

			& a
				text-decoration: none

			&-image
				height: auto
				width: calc(100dvw - 50px)
				border-radius: var.$box-radius

		&-list
			gap: 30px
			width: 100%
			display: flex
			margin-top: 10px
			flex-wrap: nowrap
			scrollbar-width: none
			list-style-type: none
			overflow: scroll hidden
