// VALUABLES
@use "./_valuables.sass" as var

// STYLING FOR PLAN PAGE
.plan-content
	padding: 0 25px 25px 25px

	&__list
		list-style-type: none

	&__form

		&-delete
			width: 60px
			height: 60px
			border: none
			outline: none
			padding: 15px
			cursor: pointer
			margin-left: auto
			color: var.$text-color
			background: transparent
			border-radius: var.$box-radius
			border: 2px solid var.$button-background-color

		&-checkout
			height: 60px
			border: none
			display: flex
			padding: 15px
			cursor: pointer
			font-size: 18px
			text-align: center
			align-items: center
			text-decoration: none
			color: var.$text-color
			justify-content: center
			border-radius: var.$box-radius
			background: var.$button-background-color

		&-wrapper
			height: 60px
			display: grid
			margin-top: 35px
			grid-template-columns: 3fr 1fr

	&__item
		height: 145px
		overflow: hidden
		transition: height 0.3s linear

		&:nth-of-type(n+2)
			margin-top: 30px

		&.open
			height: 565px

		&-person

			&-up, &-down
				width: 13px
				height: 12px
				display: flex

			&-down
				color: var.$special-text-color

			&-up
				width: 23px
				content: ""
				height: 23px
				padding: 5px
				color: var.$text-color
				border-radius: var.$img-radius
				background: var.$special-text-color

			&-title
				font-size: 12px
				margin-bottom: 5px

			&-div
				display: flex
				padding: 15px
				align-items: center
				color: var.$text-tag-color
				justify-content: space-between
				border-radius: var.$box-radius
				border: 2px solid rgba(var.$text-tag-color, 0.5)

		&-cinema, &-date, &-time, &-seats

			&-text
				display: block
				font-size: 12px
				margin-bottom: 5px
				border-radius: var.$box-radius

			&-select
				width: 100%
				outline: none
				padding: 15px
				background: transparent
				color: var.$text-tag-color
				border-radius: var.$box-radius
				border: 2px solid rgba(var.$text-tag-color, 0.5)

		&-form
			margin-top: 25px

			&-wrapper
				gap: 35px
				display: grid
				margin-top: 25px
				grid-template-columns: 1fr 1fr

		&-profile
			gap: 15px
			display: flex
			margin-top: 25px
			align-items: center

			&-rated
				gap: 5px
				display: flex
				margin-left: auto
				align-items: center
				color: var.$movie-direct-color

				&-star
					color: var.$star-icon-color

			&-tag
				font-size: 12px
				color: var.$button-background-color

			&-time
				font-size: 12px
				color: var.$movie-direct-color

			&-image
				width: 75px
				height: 75px

		&-title
			font-size: 20px
			cursor: pointer

		&-text
			margin-left: 15px
