// VALUABLES
@use "./_valuables.sass" as var

// STYLING FOR SEATS PAGE
.seats-content

	&__form
		margin: 25px 25px 0 25px

		&-label-text
			display: block
			font-size: 12px
			margin-bottom: 10px

		&-select
			width: 100%
			padding: 15px
			outline: none
			background: transparent
			color: var.$text-tag-color
			border-radius: var.$box-radius
			border: 2px solid rgba(var.$text-tag-color, 0.5)

			&#cinema
				display: block
