// IMPORT FONTS
@use "./_fonts.sass"

// VALUEBLES
$box-radius: 11px
$font-family: "Poppins"
$backup-font-family: sans-serif

// COLORS
$text-color: #FFFFFF
$icon-color: #636882
$text-tag-color: #B2B5BB
$star-icon-color: #ffa235
$icon-hover-color: #54a8e5
$background-color: #1b1e25
$description-color: #696D74
$second-text-color: #AFAFAF
$second-icon-color: #ffffff
$movie-direct-color: #BABFC9
$box-background-color: #32363d

$overlay-color: #1B1E25

$special-text-color: #54A8E5

$ticket-color: #F14763
$ticket-text-color: #000000
$ticket-background-color: #FFFFFF
$ticket-second-text-color: #717171

$user-deactive-color: #e55454
$user-logout-color: #e55454
$user-personal-color: #546ee5
$user-email-color: #54c2e5
$user-notification-color: #546ee5
$user-ticket-color: #54c2e5

$seat-selected-color: #54a8e5
$seat-reserved-color: #eb5757

$window-border-color: #FFFFFF
$window-background-color: #54a8e5

$button-text-color: #FFFFFF
$button-background-color: #54a8e5
$second-button-text-color: #FFFFFF
$second-button-background-color: #1b1e25
